body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f3efe8;
}

/* HERO */
.hero {
  background: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6")
  center/cover;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(27,94,32,0.85);
  color: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

/* MAIN CARD */
.main-card {
  background: white;
  max-width: 480px;
  margin: -40px auto 30px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

select, input, button {
  width: 100%;
  margin-top: 12px;
  padding: 14px;
  font-size: 16px;
}

button {
  background: #5d4037;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background: #3e2723;
}

#preview {
  width: 100%;
  margin-top: 10px;
  display: none;
  border-radius: 10px;
}

/* CARDS */
.result-card, .tips, .weather {
  background: #e8f5e9;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

/* LOGIN */
.login-body {
  background: linear-gradient(#2e7d32, #4e342e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero {
    height: 35vh;
  }
}
